# Tuple Assignment

''' 1. Tuple is a collection of objects like a list. here we use () operators.
Yes, tuple is immutable, unlike list.
'''

### 2.

''' Tuple have only two in-build methods:
i) count - it tells how mamny times the object is repeating.
ii) index - it gives the index of the object(which one appears first) in the tuple. '''

In [7]:
## Example of count
t=(1,3,3,54,'happy',3,'sad')
t.count(3)

3

In [2]:
## example of index
t=(1,3,3,54,'happy',3, 'sad')
t.index(3)

1

In [3]:
t[1]

3

'''Since tuple is immutable, we can not make changes into it. that's why it doesn't have many methods.
But, list is very versatile and mutable. So it has more functions. '''

## 3.

'Set do not allow dublicacy.'

In [4]:
a={1,1,1,1,32,33,22,22,33.23}
a

{1, 22, 32, 33, 33.23}

In [5]:
list=[1,1,1,2,1,3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [9]:
s1=set(list)
s1

{1, 2, 3, 4}

## 4.

''' update() method make changes in the original set and reassign the new values to the set, whereas, union() method doesn't make any changes in the set and returns a copy instead.'''

In [48]:
## Example of union() method
s2={1,2,3,4,4,5,'cat'}
s3={2,2,3,4,6,7,'dog','cat'}

In [49]:
s2.union(s3)

{1, 2, 3, 4, 5, 6, 7, 'cat', 'dog'}

In [50]:
s2 ## do not alter the orginal set

{1, 2, 3, 4, 5, 'cat'}

In [45]:
## Example of update() method
s2={1,2,'a',4,4,5,'cat'}
s3={2,2,3,4,6,7,'dog','cat'}

In [46]:
s2.update(s3)

In [47]:
s2 ## make changes into original set

{1, 2, 3, 4, 5, 6, 7, 'a', 'cat', 'dog'}

## 5.

'Dictionary is a collection of keys and values, used to store data values like map.'

In [7]:
## Example of dictionary
d1={'name': 'Sagarika', 'age': 27, 'course': 'data_science_masters_class'}
print(d1)
type(d1)

{'name': 'Sagarika', 'age': 27, 'course': 'data_science_masters_class'}

dict

'dictionary is unordered.'

## 6.

In [11]:
## Yes, we can create nested dictionary. Example-

d2={1:'apple',2:'banana',3:{'a':123,'b':987,}}
d2

{1: 'apple', 2: 'banana', 3: {'a': 123, 'b': 987}}

## 7.

In [13]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [16]:
dict1.setdefault('topics', ['Python', 'Machine Learning','Deep Learning'])

['Python', 'Machine Learning', 'Deep Learning']

In [17]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

## 8.

Three in-build methods in python to display objects in dictionary are keys(), items() and values().

In [18]:
## use of items()

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [19]:
## use of keys()

dict1.keys()

dict_keys(['Sport', 'Teams'])

In [20]:
## use of values()

dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])